  <!--==========================
    Header
  ============================-->
  <header id="header" class="eco-header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <a href="#intro" class="scrollto site-logo-link" title="Ecobouer">
          <img src="img/ecobouer/main-logo.png" alt="Ecobouer Energy and Construction Corporation" class="site-logo site-logo--header" width="280" height="46">
        </a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#savings-calculator">Calculator</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
