<section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Services</h3>
          <p>We provide comprehensive engineering and electrical solutions for both households and commercial establishments. Our expertise covers a wide range of electrical needs, with a primary focus on <b>solar energy systems</b> to help you achieve efficient and <b>sustainable power solutions</b>.</p>
        </header>

        <div class="row">
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="service-box">
              <img src="img/ecobouer/featured-service/4.png" alt="" class="custom-icon2">
              <h4 class="title"><a href="">Grid-Tie Solar Setup</a></h4>
              <p class="description">Connect your solar system to the main power grid, reducing electricity costs while maintaining a reliable power source.</p>
            </div>
          </div>
        
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="service-box">
              <img src="img/ecobouer/featured-service/5.png" alt="" class="custom-icon2">
              <h4 class="title"><a href="">Hybrid Solar Setup</a></h4>
              <p class="description">Combine solar power with battery storage and grid electricity for optimal energy efficiency and backup during outages.</p>
            </div>
          </div>
        
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="service-box">
              <img src="img/ecobouer/featured-service/6.png" alt="" class="custom-icon2">
              <h4 class="title"><a href="">Off-Grid Solar Setup</a></h4>
              <p class="description">Achieve total energy independence with a standalone solar system, perfect for remote areas or self-sufficient homes and businesses.</p>
            </div>
          </div>
        </div>

        <header class="section-header wow fadeInUp">
          <p>We are committed to delivering high-quality solar solutions tailored to your energy needs.<br> 
            <b>Let us help you switch to clean, renewable energy today!</b>
          </p>
          
        </header>

      </div>
    </section>